.demo1-page{
  text-align: center;
  .demo1-page-title{
    padding-top: 10px;
    font-weight: 600;
  }
  .demo1-canvas{
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
}
.demo2-page{
  text-align: center;
  .demo2-page-title{
    padding-top: 10px;
    font-weight: 600;
  }
}